<div class="read-created-groups">
    <div class="header">
        <div class="header-logo" (click)="home()">
            <img src="assets\icons\logo.png" alt="StreamFever Logo" class="logo">
            <span class="text"> StreamFever </span>
        </div>
        <div class="header-button">
            <div class="dropdown">
                <button class="dropdown-button">
                    {{name}}
                    <span class="fa fa-caret-down"></span>
                </button>
                <div class="dropdown-content">
                    <a id="a-profile" (click)="profile(userId)">Profile</a>
                    <a id="a-logout" (click)="logOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="groups">
        <div class="group-container" *ngFor="let group of groups">
            <div class="group">
                <span class="name" (click)="posts(group.id)">{{ group.name }}</span>

                <span class="fa fa-user username-icon" (click)="profile(group.userId)"></span>
                <span class="username" (click)="profile(group.userId)">{{ groupUsernames.get(group.userId) }}</span>
                
                <div class="description-container">
                    <span class="description">{{ group.description }}</span>
                </div>
                
                <button class="join-button" *ngIf="groupJoin.get(group.id)" (click)="join(group.id)">Join</button>
                
                <div class="icons" *ngIf="groupEditDelete.get(group.id)">
                    <span class="fa fa-pencil edit" (click)="edit(group.id)"></span>
                    <span class="dot">○</span>
                    <span class="fa fa-trash delete" (click)="delete(group.id)"></span>
                </div>

                <button class="leave-button" *ngIf="!groupEditDelete.get(group.id) && !groupJoin.get(group.id)" (click)="leave(group.id)">
                    Leave
                </button>
            </div>
        </div>
    </div>

    <span class="fa fa-ticket ticket"></span>
</div>
