<div class="create-post">
    <div class="form">
        <div class="heading">
            <span class="fa fa-envelope icon-heading"></span>
            <h3 class="text-heading">
                Post
            </h3>
        </div>
        
        <div class="body">
            <form [formGroup]="createPostForm">
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="createPostForm.controls['description'].dirty && createPostForm.hasError('required', 'description')">
                        <span class="fa fa-star p-2"></span>
    
                        <input formControlName='description' type="text" placeholder="Description">
                    </div>
                </div>
                <small *ngIf="createPostForm.controls['description'].dirty && createPostForm.hasError('required', 'description')" class="text-danger">*The description is required.</small>
                
                <button (click)="onSubmit()" type="submit" class="button">Create</button>
            </form>
        </div> 
    </div>
</div>