<div class="edit-post">
    <div class="form">
        <div class="heading">
            <span class="fa fa-envelope icon-heading"></span>
            <h3 class="text-heading">
                Post
            </h3>
        </div>
        
        <div class="body">
            <form [formGroup]="editPostForm">
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="editPostForm.controls['description'].dirty && editPostForm.hasError('required', 'description')">
                        <span class="fa fa-star p-2"></span>
    
                        <input formControlName='description' type="text" placeholder="Description" (change)="onDescriptionChange()">
                    </div>
                </div>
                <small *ngIf="editPostForm.controls['description'].dirty && editPostForm.hasError('required', 'description')" class="text-danger">*The description is required.</small>
                
                <button (click)="onSubmit()" type="submit" class="button" [disabled]="!descriptionModified">Edit</button>
            </form>
        </div> 
    </div>
</div>