<div class="home">
    <div class="header">
        <div class="header-logo">
            <img src="assets\icons\logo.png" alt="StreamFever Logo" class="logo">
            <span class="text"> StreamFever </span>
        </div>
        <div class="header-button">
            <div class="dropdown">
                <button class="dropdown-button">
                    {{name}}
                    <span class="fa fa-caret-down"></span>
                </button>
                <div class="dropdown-content">
                    <a id="a-profile" href="#">Profile</a>
                    <a id="a-logout" (click)="logOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons" *ngIf="role === 'manager'">
        <button class="button" data-tooltip="Create a Group" (click)="createGroup()">
            <span class="fa fa-object-group icon"></span>
        </button>
        <button class="button" data-tooltip="Create a Session">
            <span class="fa fa-address-card icon"></span>
        </button>
    </div>
</div>

